<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-2 text-center">
        <h4 th:text="${#strings.isEmpty(q.question.id) ?'문제 등록':'문제 수정'}">문제 등록</h4>
    </div>

    <hr class="my-2">

    <form th:action="@{/admin/question/save}"  method="post" enctype="multipart/form-data">
        <div th:object="${q}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <div class="field-error global-error" th:each="err : ${#fields.globalErrors()}" th:utext="${err}">글로벌 오류 메시지</div>
            </div>
            <!-- id -->
            <input type="hidden" th:field="*{question.id}" />

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="min-width: 80px">문제</span>
                </div>
                <textarea th:field="*{question.text}" class="form-control form-control-sm" aria-label="문제" rows="8"></textarea>
            </div>
        </div> <!-- textarea End -->

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="min-width: 80px">이미지</span>
            </div>
            <div class="custom-file">
                <input type="file" id="upload" name="upload" class="custom-file-input" onchange="readURL(this);" th:value="${q.question.image}">
                <label id="upload-label" for="upload" class="custom-file-label" th:text="${#strings.isEmpty(q.question.image_name) ?'선택된 파일 없음':q.question.image_name}">선택된 파일 없음</label>
                <input type="hidden" th:field="*{q.question.image_name}">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="delImageBtn" onclick="delImage(this);">X</button>
            </div>
        </div>
        <div class="image-area mb-3"><img id="imageResult" th:src="*{'data:image/png;base64,'+ upload}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
        <!-- image End -->
        <div th:object="${q}">
            <div class="row flex-sm-row">
                <div class="col-sm input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="min-width: 80px">카테고리</label>
                    </div>
                    <select th:field="*{question.category_id}" class="custom-select" >
                        <option value="-1">선택...</option>
                        <option th:each="category : ${categoryList}" th:value="${category.id}"
                                th:text="${category.name}">카테고리</option>
                    </select>

                </div>
                <div class="col-sm input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="min-width: 80px">사용여부</label>
                    </div>
                    <select th:field="*{question.use_yn}" class="custom-select">
                        <option selected value="Y">사용</option>
                        <option value="N">미사용</option>
                    </select>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="min-width: 80px">문제 유형</label>
                </div>
                <div class="form-control">
                    <div th:each="questionType, stat : ${questionTypes}" class="form-check form-check-inline">
                        <input type="radio" th:field="*{question.type}" name="type" th:value="${questionType.key}" class="form-check-input">
                        <label th:for="${#ids.prev('question.type')}" th:text="${questionType.value}" class="form-check-label">
                        </label>
                    </div>
                </div>
            </div>
            <!-- question End -->
            <hr class="my-2">

            <div class="input-group input-group-sm my-1">
                <div class="input-group-prepend">
                    <label class="input-group-text justify-content-md-center" style="min-width: 50px">정답</label>
                </div>
                <div class="form-control number-seq">
                    <label>번호</label>
                </div>
                <div class="form-control">
                    <label>선택지</label>
                </div>
            </div>
            <div id="options-root">
                <div th:unless="${#lists.isEmpty(q.options)}" th:each="option, stat : ${q.options}" th:id="|options-lv2-${stat.index}|" class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text justify-content-md-center" style="min-width: 50px">
                            <input th:id="|dummy${stat.index}|" th:name="_dummy" th:checked="${option.correct_yn == 'Y'}" th:value="${option.correct_yn}" th:type="${q.question.type == 'S'?'radio':'checkbox'}" class="option" th:disabled="${option.del_yn eq 'Y' ? 'disabled': false}">
                        </div>
                    </div>
                    <input type="text" class="form-control number-seq" th:field="*{options[__${stat.index}__].seq}" th:value="${option.seq}" th:readonly="${option.del_yn eq 'Y' ? 'readonly': false}">
<!--                    <input type="text" class="form-control" th:field="*{options[__${stat.index}__].text}" th:value="${option.text}" th:readonly="${option.del_yn eq 'Y' ? 'readonly': false}">-->
                    <textarea class="form-control overflow-hidden" rows="1" th:field="*{options[__${stat.index}__].text}" th:value="${option.text}" th:readonly="${option.del_yn eq 'Y' ? 'readonly': false}" onkeydown="resize(this)"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" th:id="|options-lv-del${stat.index}|" type="button" onclick="delOption(this)">X</button>
                    </div>
                    <!-- hidden -->
                    <input type="hidden" th:field="*{options[__${stat.index}__].id}" th:value="${option.id}">
                    <input type="hidden" th:name="'options['+${stat.index}+'].correct_yn'" th:id="|real${stat.index}|" th:value="${option.correct_yn}"/>
                    <input type="hidden" th:name="'options['+${stat.index}+'].del_yn'" th:id="|del_yn${stat.index}|" th:value="${option.del_yn}">
                </div>
                <div th:if="${#lists.isEmpty(q.options)}" th:each="num, stat : ${#numbers.sequence(0,3)}" th:id="|options-lv2-${stat.index}|" class="input-group input-group-sm mb-1" >
                    <div class="input-group-prepend">
                        <div class="input-group-text justify-content-md-center" style="min-width: 50px">
                            <input th:id="|dummy${stat.index}|" th:name="_dummy" th:type="${q.question.type == 'S'?'radio':'checkbox'}" class="option">
                        </div>
                    </div>
                    <input type="text" class="form-control number-seq" th:name="'options['+${stat.index}+'].seq'" th:value="${stat.count}">
                    <textarea class="form-control overflow-hidden" rows="1" th:name="'options['+${stat.index}+'].text'"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" th:id="|options-lv-del${stat.index}|" type="button" onclick="delOption(this)">X</button>
                    </div>
                    <!-- hidden -->
                    <input type="hidden" th:name="'options['+${stat.index}+'].id'">
                    <input type="hidden" th:name="'options['+${stat.index}+'].correct_yn'" th:id="|real${stat.index}|" value="N">
                    <input type="hidden" th:name="'options['+${stat.index}+'].del_yn'" th:id="|del_yn${stat.index}|" value="N">
                </div>
            </div>

            <button type="button" class="btn btn-sm btn-outline-secondary w-100" onclick="addOption()">선택지 추가</button>

            <hr class="my-2">

            <div class="row">
                <div class="col">
                    <button type="button" th:onclick="|location.href='@{/admin/questions(category_id=${#httpServletRequest.getParameter('category_id')},searchKeyword=${#httpServletRequest.getParameter('searchKeyword')},currentPageNo=${#httpServletRequest.getParameter('currentPageNo')})}'|" class="btn btn-secondary w-100">문제 목록</button>
                </div>
                <div class="col">
                    <button type="submit" th:text="${#strings.isEmpty(q.question.id) ?'문제 등록':'문제 수정'}" class="btn btn-primary w-100">문제 등록</button>
                </div>
            </div>
        </div>
    </form>

    <div th:replace="fragments/footer :: footer"></div>

</div>

<script th:inline="javascript">
    $(document).ready(function(){

        $("input[name='_dummy']").change(function () {
            let idx = this.id.slice(-1)
            if(this.type == 'radio') {
                $('[id^="real"]').val('N');
                $("#real"+idx).val('Y');
            } else {
                if(this.checked) {
                    $("#real"+idx).val('Y');
                } else {
                    $("#real"+idx).val('N');
                }
            }
        });

        $("textarea[name='options']").change(function () {
            this.style.height = '31px'
            this.style.height = this.scrollHeight + 'px';
        });

        $("input[name='question.type']:radio").change(function () {
            let value = $(this).val();
            if(value === 'S') {
                $('.option').prop("type", "radio");
            } else {
                $('.option').prop("type", "checkbox");
            }
        });

    });

    $(document).on("keydown", ":input:not(textarea)", function(event) {
        return event.key != "Enter";
    });

    function resize(obj) {
        console.log(obj);
        obj.style.height = '31px'
        obj.style.height = obj.scrollHeight + 'px';
    }


    function delImage(input) {
        $('#upload').val('');
        $('#upload-label').text('선택된 파일 없음');
        $('#imageResult').prop('src', 'data:image/png;base64,null');
        $("#question\\.image_name").val('');

    }

    function addOption() {
        let max = -1;
        $('[id^="real"]').each(function() {
            let idx = this.id.slice(-1)
            max = Math.max(idx, max);
        });
        //console.log(max);

        let option_type;
        let value = $("input[name='question.type']:checked").val();

        if(value === 'S') {
            option_type = "radio";
        } else {
            option_type = "checkbox";
        }

        let i = max + 1;
        $('#options-root').append('<div id="options-lv2-'+i+'" class="input-group input-group-sm mb-1"></div>');
        $('#options-lv2-'+i).append('<div id="options-lv3-'+i+'" class="input-group-prepend">');
        $('#options-lv2-'+i).append('<input type="hidden" name="options['+i+'].id">');
        $('#options-lv2-'+i).append('<input type="text" class="form-control number-seq" name="options['+i+'].seq">');
        $('#options-lv2-'+i).append('<textarea class="form-control overflow-hidden" rows="1" name="options['+i+'].text"></textarea>');
        //$('#options-lv2-'+i).append('<input type="text" class="form-control" name="options['+i+'].text">');
        $('#options-lv2-'+i).append('<div class="input-group-append"><button id="options-lv-del'+i+'" class="btn btn-outline-secondary" type="button" onclick="delOption(this)">X</button></div>');
        $('#options-lv2-'+i).append('<input type="hidden" name="options['+i+'].correct_yn" id="real'+i+'" value="N">');
        $('#options-lv2-'+i).append('<input type="hidden" name="options['+i+'].del_yn" id="del_yn'+i+'" value="N">');

        $('#options-lv3-'+i).append('<div id="options-lv4-'+i+'" class="input-group-text justify-content-md-center" style="min-width: 50px">');
        $('#options-lv4-'+i).append('<input type="'+option_type+'" name="_dummy" id="dummy'+i+'" class="option">');

        $("input[name='_dummy']").change(function () {
            let idx = this.id.slice(-1)
            if(this.type == 'radio') {
                $('[id^="real"]').val('N');
                $("#real"+idx).val('Y');
            } else {
                if(this.checked) {
                    $("#real"+idx).val('Y');
                } else {
                    $("#real"+idx).val('N');
                }
            }
        });

    }

    function delOption(input) {

        let idx = input.id.slice(-1);
        let selector = "[name=\"options["+idx+"].id\"]";
        let optionId = $(selector).val();
        //console.log("optionId = " + optionId);
        if(optionId != '') {

            if($('#del_yn'+idx).val() == 'Y' ) {
                $('#options-lv-del'+idx).removeClass('btn-danger').addClass('btn-outline-secondary');
                $('#dummy'+idx).prop('disabled', false);
                $('#options'+idx+'\\.seq').prop('readonly', false);
                $('#options'+idx+'\\.text').prop('readonly', false);
                $('#del_yn'+idx).val('N');
            } else {
                $('#options-lv-del'+idx).removeClass('btn-outline-secondary').addClass('btn-danger');
                $('#dummy'+idx).prop('disabled', true);
                $('#options'+idx+'\\.seq').prop('readonly', true);
                $('#options'+idx+'\\.text').prop('readonly', true);
                $('#del_yn'+idx).val('Y');
            }

        } else {
            $('#options-lv2-'+idx).remove();
            $('[id^="options-lv"]').each(function() {
                let divIdx = this.id.slice(-1);
                if(divIdx >= idx) {
                    this.setAttribute('id', this.id.slice(0, -1) + (divIdx-1));
                }
            });
            $('[name^="options["]').each(function() {
                let temp = this.name.substring(8);
                let elIdx = temp.charAt(0);

                if(elIdx >= idx) {
                    this.setAttribute('id', this.id.replace(elIdx, (elIdx-1)));
                    this.setAttribute('name', this.name.replace(elIdx, (elIdx-1)));
                }
            });
        }
    }

    /*  ==========================================
        SHOW UPLOADED IMAGE
    * ========================================== */
    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */

    $('#upload').change(function(event) {
        const files = event.target.files;
        $('#upload-label').text(files[0].name);
        $("#question\\.image_name").val(files[0].name);
    });


</script>
</body>
</html>