<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header" />

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-2 text-center">
        <h4>문제 관리</h4>
    </div>

    <hr class="my-2">

    <form th:action="@{/admin/questions}" method="get">
        <div class="row my-4 mx-1">
            <div class="input-group input-group-sm" id="searchForm">
                <div class="input-group-prepend">
                    <select class="form-control form-control-sm" id="searchType" th:name="searchType">
                        <option value="category">카테고리</option>
                        <option value="title">문제</option>
                    </select>
<!--                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Dropdown</button>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a class="dropdown-item" href="#">카테고리</a>-->
<!--                        <a class="dropdown-item" href="#">문제</a>-->
<!--                    </div>-->
                </div>
                <input type="text" class="form-control input-group-append" id="searchKeyword" name="searchKeyword" th:value="${searchKeyword}" placeholder="검색어" aria-label="Search Category" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button type="submit" class="btn btn-sm btn-outline-secondary" >검색</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="|location.href='@{/admin/questions}'|">초기화</button>
                    <button type="button" class="btn btn-sm btn-primary" th:onclick="|location.href='@{/admin/question/add}'|">등록</button>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-sm table-hover font-size-85">
            <thead>
            <tr>
                <th scope="col" >id</th>
                <th scope="col" th:class="w-75">문제</th>
                <th scope="col" >카테고리</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="item : ${list}">
                <td><span th:text="${item.id}">id</span></td>
                <td><a th:href="|/admin/question/${item.id}|"><span th:text="${#strings.abbreviate(item.text,75)}">text</span></a></td>
                <td><span th:text="${item.category_nm}">category_nm</span></td>
            </tr>
            </tbody>
        </table>

        <th:block layout:fragment="paging">
            <nav th:replace="fragments/paging :: pagination"></nav>
        </th:block>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function(){
            setQueryStringParams();
        });

        function setQueryStringParams() {

            if ( !location.search ) {
                return false;
            }
            new URLSearchParams(location.search).forEach((value, key) => {
                if(key == 'searchType') {
                    $("#searchType").val(value).prop("selected", true);
                } else if(key == 'searchKeyword') {
                    $('#searchKeyword').val(value);
                }
            })
        }

        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }
        /*]]>*/
    </script>
</th:block>
</body>
</html>