<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="hisDetail(r)">


    <div class="form-row">
        <div class="col-md-4">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-8">
            <h2>
                <span class="badge" th:text="${r.success_cd_nm}" th:classappend="${r.success_cd_nm eq '합격'? 'badge-success':'badge-danger'}"></span>
            </h2>
            <p th:text="|(합격하려면 ${r.success_per}%를 달성해야 함)|"></p>
            <ul class="list-inline my-0">
                <li class="list-inline-item"><h2 style="font-weight: 900" th:text="|${r.correct_per}% 정답|"></h2></li>
                <li class="list-inline-item"><p th:text="|(${r.correct_cnt} / ${r.total_q_cnt})|"></p></li>
            </ul>
            <p th:text="|${r.start_dt} - ${r.end_dt}|"></p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-primary" th:onclick="|location.href='@{/his/list}'|">
                    < 목록으로
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    상세 문제 검토
                </button>
            </div>
        </div>
    </div>

    <div class="collapse" id="collapseExample">
        <hr class="my-2">
        <div class="form-check px-4">
            <input type="radio" class="form-check-input selected" disabled="" checked="checked">
            <label class="form-check-label"> : 내가 제출한 답안 | </label>
            <span class="badge badge-success"> 정답</span>
            <label class="form-check-label"> : 해당 문제의 정답</label>
        </div>

        <div class="row">

            <div class="col-10" data-spy="scroll" data-target="#rd-div" data-offset="0">
                <div th:unless="${#lists.isEmpty(r.resultDetails)}" th:each="detail, stat : ${r.resultDetails}"
                    th:id="|rd-${stat.count}|">
                    <div th:replace="fragments/resultDetail :: resultDetail(detail=${detail}, idx=${stat.count})"></div>
                </div>
            </div>
            <div class="col-2">
                <div class="row sticky-top pt-1">
                    <a class="px-1 font-weight-bold" th:text="${stat.count}" th:classappend="${detail.question.correct_yn eq 'Y'? 'text-primary':'text-danger'}"
                        th:each="detail, stat : ${r.resultDetails}" th:href="'#'+|rd-${stat.count}|">1</a>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        let correct_cnt;
        let wrong_cnt;

        $(document).ready(function(){
            correct_cnt = [[${r.correct_cnt}]];
            wrong_cnt = [[${r.wrong_cnt}]];

            const data = {
                labels: [
                    '맞음',
                    '틀림',
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [correct_cnt, wrong_cnt],
                    backgroundColor: [
                        // 'rgb(54, 162, 235)',
                        // 'rgb(255, 99, 132)'
                        // 'rgb(255, 205, 86)'
                        'rgb(43, 112, 167)',
                        'rgb(239, 65, 54)'
                    ],
                    hoverOffset: 4
                }]
            };

            const config = {
                type: 'doughnut',
                data: data,
                options : {
                    cutout: '75%',
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

        });


    </script>
</div>