.input-group-sm > .custom-file,
.input-group-sm > .custom-file >.custom-file-input,
.input-group-sm > .custom-file >.custom-file-label {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.input-group-sm > .number-seq {
  flex: 0 0 46px;
}

.header > a:hover {
  /*color: #545b62;*/
  text-decoration: none;
}

.header > a > .form-inline > h4 {
  padding-bottom: 0px;
  margin-bottom:0px;
}

.text-bheader {
  color: #1E2A3C !important;
}

.global-error {
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  font-size: 0.8rem;
  /*border-left-color: #5bc0de;*/
}

.image-area {
  border: 2px dashed rgb(108, 117, 125, 0.5);;
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: '이미지 미리보기';
  color: #6c757d;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.font-size-85 {
  font-size: 0.85rem;
}


input[type=radio]:checked.selected{
  background-color: #007bff;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: -1.25rem;
  /*margin: 3px 3px 0px 5px;*/
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

input[type=checkbox]:checked.selected{
  background-color: #007bff;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: -1.25rem;
  border: none;
  width: 14px;
  height: 14px;
}