<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>Quiz</h1>
<!--        <p class="lead">회원 기능</p>-->
        <p>
            <a class="btn btn-lg btn-info" href="/users/add">사용자 등록</a>
            <a class="btn btn-lg btn-info" href="/users/login">로그인</a>
        </p>

    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
