<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="my-1" th:text="|사용자 : ${user.name}|">로그인 사용자 이름</h4>

        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-50 btn btn-dark btn-lg float-right">로그아웃</button>
            </form>
        </div>

    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary " type="button"
                    th:onclick="|location.href='@{/questions/category}'|">
                시험 시작
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-outline-primary " type="button"
                    th:onclick="|location.href='@{/questions/history}'|">
                시험 이력 <span class="badge badge-info">4</span>
            </button>
        </div>

        <div class="col" th:if="${user.admin_yn.equals('Y')}">
            <button class="w-100 btn btn-success " type="button"
                    th:onclick="|location.href='@{/admin}'|">
                문제 관리
            </button>
        </div>
    </div>


</div> <!-- /container -->

</body>
</html>