<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-2 text-center">
        <h4>시험 이력</h4>
    </div>

    <hr class="my-4">

    <div th:unless="${#lists.isEmpty(hl)}" th:each="d, stat : ${hl}"
         th:id="|rd-${stat.count}|">
        <div th:replace="fragments/hisItem :: hisItem(d=${d}, idx=${stat.count})"></div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>