<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-2 text-center">
        <h4>테스트 결과</h4>
    </div>

    <hr class="my-4">
    <button class="btn btn-sm btn-outline-primary"
        th:onclick="|location.href='@{/his/list}'|">< 목록으로</button>

    <div th:replace="fragments/hisDetail :: hisDetail(r=${r})" />

    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->


</body>
</html>