<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="card" id="q_item">
        <h5 class="card-header" >
            <div th:text="${progress}">1/3</div>
            <div class="progress mt-1">
                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${percent} + '%;'" aria-valuemin="0" aria-valuemax="100" th:text="${percent} + '%'">29%</div>
            </div>
        </h5>

        <div class="card-body">
            <p class="card-text" style="white-space: pre-wrap;" th:utext="${q.text}" />
            <div class="image-area mb-3" th:if="${image}">
                <img id="imageResult" th:if="${image}" th:src="*{'data:image/png;base64,'+ image}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
            </div>

            <hr class="my-2">

            <div class="form-check px-4 py-1" th:each="option : ${options}">
                <input th:type="${q.type == 'S'?'radio':'checkbox'}" th:id="${optionStat.index}" th:name="ans" th:value="${option.id}" class="form-check-input">
<!--                <label th:for="${optionStat.index}" th:utext="${option.text}" class="form-check-label">ITEM</label>-->
                <label th:for="${optionStat.index}" class="form-check-label"><pre class="my-0" style="white-space: pre-wrap;" th:utext="${option.text}">ITEM</pre></label>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <button type="button" id="prevBtn"class="btn btn-primary btn-lg btn-block" onclick="prevQuestion()">이전</button>
        </div>
        <div class="col" id="nextDiv">
            <button type="button" id="nextBtn"class="btn btn-primary btn-lg btn-block" onclick="nextQuestion()">다음</button>
        </div>
        <div class="col" id="endDiv" style="display: none;">
            <button type="button" id="endBtn"class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#endModal">제출</button>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="endModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">결과를 제출 하시겠습니까?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="endQuestion()">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->

    <script th:inline="javascript">
        let q_set = [];
        let p_set = [];
        let a_set = [];
        let idx = 0;
        let uq;

        $(document).ready(function(){
            q_set = [[${uq.question_set}]].split(',');
            p_set = [[${uq.progress_set}]].split(',');
            p_set[0] = 1;
            a_set = [[${uq.answer_set}]].split(',');
            uq = [[${uq}]];
            //$("#progress").text(idx+1+"/"+q_set.length);
        });

        function endQuestion() {
            // 현재 문제는 완료처리
            p_set[idx] = 2;

            let chk_arr = [];
            $('input[name="ans"]:checked').each(function () {
                let chk = $(this).val();
                chk_arr.push(chk);
            })
            let chk_str = chk_arr.join(":");

            //const A = $('input[name="ans"]:checked').val();
            if(chk_str.trim().length === 0) {
                a_set[idx] = 0;
            } else {
                a_set[idx] = chk_str;
            }
            //a_set[idx] = $('input[name="ans"]:checked').val();
            uq.answer_set = a_set;

            const timezoneOffset = new Date().getTimezoneOffset() * 60000;
            const timezoneDate = new Date(Date.now() - timezoneOffset);

            uq.end_dt = timezoneDate.toISOString().substring(0, 19);

            let param = "";

            for (const [key, value] of Object.entries(uq)) {
                param += "<input type='hidden' name='"+ key +"' value='"+ value +"'/>";
            }

            let goform = $("<form>", {
                method: "post",
                action: "/questions/end",
                target: "_self",
                html: param
            }).appendTo("body");

            goform.submit();
        }

        function nextQuestion() {
            //console.log(uq);
            // 현재 문제는 완료처리
            p_set[idx] = 2;

            let chk_arr = [];
            $('input[name="ans"]:checked').each(function () {
                let chk = $(this).val();
                chk_arr.push(chk);
            })
            let chk_str = chk_arr.join(":");

            if(chk_str.trim().length === 0) {
                a_set[idx] = 0;
            } else {
                a_set[idx] = chk_str;
            }

            uq.answer_set = a_set;

            if(idx == q_set.length - 1) {
                alert("마지막 문제임");
                // 제출
                $.ajax({
                    url: "/questions/end",
                    type: "post",
                    data: uq,
                    success: function (response) {
                        window.location.href = response;
                    },
                    error: function (response) {
                        alert("에러발생");
                    }

                });

            } else {


                idx++;
                // 다음 문제는 진행중 처리
                p_set[idx] = 1;
                uq.progress_set = p_set;

                $.ajax({
                    url: "/questions/moveQuestion",
                    type: "post",
                    data: uq,
                    success: function (response) {
                        $("#q_item").replaceWith(response);

                        if(idx == q_set.length - 1) {
                            $("#nextDiv").hide();
                            $("#endDiv").show();
                            // $("#nextBtn").text("제출")
                            //     .removeClass("btn-primary")
                            //     .addClass("btn-warning")
                            //     .attr("data-toggle", "modal")
                            //     .attr("data-target", "#endModal");
                        }
                    },
                    error: function (response) {
                        alert("에러발생");
                    }

                });
            }
        }

        function prevQuestion() {
            if(idx == 0) {
                alert("첫번째 문제임");
            } else {
                // 현재 문제는 미진행처리
                p_set[idx] = 0;
                idx--;
                // 이전 문제는 진행중 처리
                p_set[idx] = 1;
                let UserQuestion = {question_set: q_set, progress_set:p_set};
                $.ajax({
                    url: "/questions/moveQuestion",
                    type: 'post',
                    data: UserQuestion,
                    success: function (response) {
                        $("#q_item").replaceWith(response);
                        if(idx < q_set.length - 1) {
                            $("#endDiv").hide();
                            $("#nextDiv").show();
                            //
                            // $("#nextBtn").text("다음")
                            //     .removeClass("btn-primary")
                            //     .removeClass("btn-warning")
                            //     .addClass("btn-primary");
                        }
                    },
                    error: function (response) {
                        alert("에러발생");
                    }
                });
            }
        }

    </script>
</body>
</html>