<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

<!--    <div id="q_item">-->
<!--        <h5 class="card-title" th:text="${q.text}">question title</h5>-->
<!--    </div>-->

    <div class="card" id="q_item">
        <h5 class="card-header" th:text="${progress}"></h5>
        <div class="card-body">
            <h5 class="card-title" th:text="${q.text}">question title</h5>
            <img th:if="${image}" th:src="*{'data:image/png;base64,'+ image}" />
<!--            <div th:object="${item}">-->
                <div class="form-check px-4 py-2" th:each="option : ${options}">
                        <input type="radio" th:id="${optionStat.index}" th:name="ans" th:value="${option.id}" class="form-check-input">
                    <label th:for="${optionStat.index}" th:text="${option.text}" class="form-check-label">ITEM</label>
                </div>
<!--            </div>-->
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <button type="button" id="prevBtn"class="btn btn-primary btn-lg btn-block" onclick="prevQuestion()">이전</button>
        </div>
        <div class="col" id="nextDiv">
            <button type="button" id="nextBtn"class="btn btn-primary btn-lg btn-block" onclick="nextQuestion()">다음</button>
        </div>
        <div class="col" id="endDiv" style="display: none;">
            <button type="button" id="endBtn"class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#endModal">제출</button>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="endModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">결과를 제출 하시겠습니까?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success"
                            data-dismiss="modal">Close</button>
                    <a th:href="@{'/home/'+'/deleteFingerprints'}"><button
                            type="button" class="btn btn-success">Yes</button></a>
                </div>
            </div>
        </div>
    </div>


<!--    <hr class="my-4">-->

<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <button class="w-100 btn btn-primary btn-lg"-->
<!--                    onclick="location.href='editForm.html'"-->
<!--                    th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'|"-->
<!--                    type="button">상품 수정</button>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <button class="w-100 btn btn-secondary btn-lg"-->
<!--                    onclick="location.href='items.html'"-->
<!--                    th:onclick="|location.href='@{/items}'|"-->
<!--                    type="button">목록으로</button>-->
<!--        </div>-->
<!--    </div>-->

</div> <!-- /container -->

    <script th:inline="javascript">
        let q_set = [];
        let p_set = [];
        let a_set = [];
        let idx = 0;
        let uq;

        $(document).ready(function(){
            q_set = [[${uq.question_set}]].split(',');
            p_set = [[${uq.progress_set}]].split(',');
            p_set[0] = 1;
            a_set = [[${uq.answer_set}]].split(',');
            uq = [[${uq}]];
            //$("#progress").text(idx+1+"/"+q_set.length);
        });

        function endQuestion() {
            // 현재 문제는 완료처리
            p_set[idx] = 2;
            a_set[idx] = $('input[name="ans"]:checked').val();
            uq.answer_set = a_set;
        }

        function nextQuestion() {

            // 현재 문제는 완료처리
            p_set[idx] = 2;
            a_set[idx] = $('input[name="ans"]:checked').val();
            uq.answer_set = a_set;

            if(idx == q_set.length - 1) {
                alert("마지막 문제임");
                // 제출
                $.ajax({
                    url: "/questions/end",
                    type: 'post',
                    data: uq,
                    success: function (response) {
                        console.log(response)
                        window.location.href = response;
                    },
                    error: function (response) {
                        alert("에러발생");
                    }

                });

            } else {


                idx++;
                // 다음 문제는 진행중 처리
                p_set[idx] = 1;
                uq.progress_set = p_set;

                $.ajax({
                    url: "/questions/moveQuestion",
                    type: 'post',
                    data: uq,
                    success: function (response) {
                        console.log(response)
                        $("#q_item").replaceWith(response);

                        if(idx == q_set.length - 1) {
                            $("#nextDiv").hide();
                            $("#endDiv").show();
                            // $("#nextBtn").text("제출")
                            //     .removeClass("btn-primary")
                            //     .addClass("btn-warning")
                            //     .attr("data-toggle", "modal")
                            //     .attr("data-target", "#endModal");
                        }
                    },
                    error: function (response) {
                        alert("에러발생");
                    }

                });
            }
        }

        function prevQuestion() {
            if(idx == 0) {
                alert("첫번째 문제임");
            } else {
                // 현재 문제는 미진행처리
                p_set[idx] = 0;
                idx--;
                // 이전 문제는 진행중 처리
                p_set[idx] = 1;
                let UserQuestion = {question_set: q_set, progress_set:p_set};
                $.ajax({
                    url: "/questions/moveQuestion",
                    type: 'post',
                    data: UserQuestion,
                    success: function (response) {
                        $("#q_item").replaceWith(response);
                        if(idx < q_set.length - 1) {
                            $("#endDiv").hide();
                            $("#nextDiv").show();
                            //
                            // $("#nextBtn").text("다음")
                            //     .removeClass("btn-primary")
                            //     .removeClass("btn-warning")
                            //     .addClass("btn-primary");
                        }
                    },
                    error: function (response) {
                        alert("에러발생");
                    }
                });
            }
        }

    </script>
</body>
</html>